
<!-- footer section starts  -->

<section class="footer">

  <button id="goto-topJS" title="Go to top"> <img src="images/arr.png" alt=""></button>

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <h3>Business Hours</h3>
            <p>Sun – Fri: 8 am – 5 pm CAT <br>
               (juba sherikat, South Sudan)</p>
            <div class="share">
                <a href="https://www.facebook.com/profile.php?id=61561150475445" class="fab fa-facebook-f"></a>
                <a href="https://chat.whatsapp.com/FSgP1USD6lXKUuMIAa04cV" class="fab fa-whatsapp"></a>
                <a href="https://t.me/+xGI3BQoebWdmNWFk" class="fab fa-telegram"></a>
                <a href="https://www.linkedin.com/company/104316966/admin/feed/posts/?shareMsgArgs=null" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <h3>Quick links</h3>
            <a href="/" class="links"> <i class="fas fa-arrow-right"></i> home page </a>
            <a href="/team" class="links"> <i class="fas fa-arrow-right"></i> Our Team </a>
            <a href="/about" class="links"> <i class="fas fa-arrow-right"></i> About Us </a>
            <a href="/partners" class="links"> <i class="fas fa-arrow-right"></i> Partners </a>
        </div>


        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <h3>Quick links</h3>
            <a href="https://www.termsfeed.com/live/d2fa382f-8e10-4f9a-83ea-d3fccc262ca7" class="links"> <i class="fas fa-arrow-right"></i> Privacy policy </a>
            <a href="/blogpost" class="links"> <i class="fas fa-arrow-right"></i> blogPosts </a>
            <a href="/review" class="links"> <i class="fas fa-arrow-right"></i> reviews </a>
            <a href="/contact" class="links"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="600">
            <h3>Contact Us</h3>
            <a href="tel: +211927996390" class="links"> <i class="fas fa-arrow-right"></i> +211927996390 </a>
            <a href="tel: +211924547722" class="links"> <i class="fas fa-arrow-right"></i> +211924547722 </a>
            <a href="tel: +211924547722" class="links"> <i class="fas fa-arrow-right"></i> +256707180023 </a>
            <a href="https://api.whatsapp.com/send?phone=256781977217" class="links"> <i class="fas fa-arrow-right"></i> +256781977217 </a>
        </div>

    </div>

</section>


<div class="credit"> Copyright &copy; <span id="copyright-year"></span> <span>classic </span>Technologies</div>

<p  id="developer">Coded with &hearts; by <a class="developer-link" href="https://awanmabur.github.io/portfolio/">Simon Awan Mabur.</a></p>

<!-- footer section ends -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

<script src="js/jsfile.js" charset="utf-8"></script>
<script src="js/review.js" charset="utf-8"></script>

<!-- custom js file link  -->
<script src="js/script.js" defer></script>


<script>

    AOS.init({
        duration: 800,
        offset:150,
    });

</script>


<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script src="./dist/jquery.smoove.js"></script>
<script>$('.block').smoove({offset:'40%'});</script>
<script>$('#about1').smoove({offset:'40%'});</script>
<script>$('#about2').smoove({offset:'40%'});</script>
<script>$('.our-team').smoove({offset:'40%'});</script>

</body>
</html>
