<%-include("../partials/header") %>


<!-- services section starts  -->

<section class="services2" id="services">

    <div class="heading">
      <span style="font-size: 18px; font-weight: normal;">meet Our partners</span> <br>
      <span style="font-size: 18px; font-weight: normal;">partner with us today</span>
    </div>

    <div class="row">
      <div class="column8"><div data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
        <img id="serv5" src="images/v.png" width="auto" height="100" alt="">
    </div>
    </div>


      <div class="column8"><div data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
        <img id="serv5" src="images/1.png" width="auto" height="100" alt="">
     </div>
    </div>

    <div class="column8"><div data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
      <img id="serv5" src="images/2.png" width="auto" height="100" alt="">
   </div>
  </div>

  <div class="column8"><div data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
    <img id="serv5" src="images/6.png" width="auto" height="100" alt="">
 </div>
</div>

  <div class="column8"><div data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
    <img id="serv5" src="images/3.png" width="auto" height="100" alt="">
 </div>
</div>



<div class="column8"><div data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
<img id="serv5" src="images/7.png" width="auto" height="100" alt="">
</div>
</div>

      <div class="column8"><div data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
        <img id="serv5" src="images/5.png" width="auto" height="100" alt="">
      </div>
    </div>

  </div>

 </div>

</section>

<!-- services section ends -->



<%-include("../partials/footer") %>
