<%-include("../partials/header") %>

<!-- services section starts  -->

<section class="services" id="services">

    <div class="heading">
      <span>Our services</span>
    </div>

    <div class="row">
      <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px" data-aos="fade-up" data-aos-duration="1200">
        <img id="serv2" src="images/p10.png" width="100%" height="200" alt="">
        <h2 id="serv">Web Development</h2>
        <p id="serv1">classic technologies specializes in web development, creating responsive and feature-rich websites that captivate audiences. Our skilled team leverages the latest web technologies to deliver stunning designs and seamless functionality, ensuring an immersive online experience for your users.</p>
      </div>
    </div>

      <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px" data-aos="fade-up" data-aos-duration="1200">
        <img  id="serv2" src="images/ict.jpg" width="100%" height="200" alt="">
        <h2 id="serv">ICT consultancy</h2>
        <p id="serv1">classic technologies's ICT consultancy services offer expert guidance in leveraging technology to achieve your business goals. We provide strategic planning, infrastructure optimization, and tailored solutions to enhance efficiency, productivity, and security, enabling your organization to thrive in the digital era.</p>
      </div>
    </div>

    <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px" data-aos="fade-down" data-aos-duration="1500">
      <img id="serv2" src="images/p11.jpg" width="100%" height="200" alt="">
      <h2 id="serv">Cyber Security</h2>
      <p id="serv1">we offers comprehensive cybersecurity services, including penetration testing, vulnerability analysis, and threat mitigation. Our expert team employs cutting-edge techniques to safeguard your digital assets, ensuring resilience against cyber threats and maintaining the integrity of your online presence.</p>
    </div>
  </div>

</div>

    <div class="row">
      <div class="column2">
        <div class="block" data-rotate-y="180deg" data-move-z="-200px" data-move-x="-300px" data-aos="fade-left" data-aos-duration="1100">
        <img id="serv2" src="images/isp.jpg" width="100%" height="200" alt="">
        <h3 id="serv">Internet Service Provider (ISP)</h3>
        <p id="serv1">Classic Technologies offers reliable Internet Service Provider (ISP) solutions, ensuring high-speed, secure, and uninterrupted internet access. Our ISP services include robust connectivity, exceptional customer support, and tailored plans to meet the unique needs of businesses and individuals, enhancing online experiences.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-x="180deg" data-rotate-y="180deg" data-move-z="-700px" data-aos="fade-right" data-aos-duration="1200">
        <img id="serv2" src="images/pt.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Printing Services</h2>
        <p id="serv1">we offers comprehensive Printing Services, providing high-quality, customized print solutions. From business cards to brochures, our team ensures vibrant colors, sharp details, and fast turnaround times, helping your brand make a lasting impression with professional and eye-catching printed materials.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-x="180deg" data-rotate-y="45deg" data-move-z="-500px" data-aos="fade-left" data-aos-duration="1100">
        <img id="serv2" src="images/dl.jpg" width="100%" height="200" alt="">
        <h2 id="serv">IT Equipment Delivery </h2>
        <p id="serv1">Classic Technologies offers IT Equipment Delivery, ensuring timely and secure transport of essential hardware. Our service guarantees that your business receives the necessary equipment intact and operational, minimizing downtime and maximizing productivity with professional handling and efficient logistics.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-y="180deg" data-move-z="-100px" data-move-x="500px" data-rotate-y="180deg" data-move-z="-100px" data-move-x="500px" data-aos="fade-right" data-aos-delay="150">
        <img id="serv2" src="images/web.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Web Hosting</h2>
        <p id="serv1">Classic Technologies offers Web Hosting, providing reliable and secure server space for your website. Our hosting services ensure fast loading times, high uptime, and robust security, allowing your site to perform optimally and handle traffic seamlessly, ensuring a smooth user experience to all the customers.</p>
      </div>
    </div>

    </div>

    <div class="row">
      <div class="column3"><div class="block" data-rotate-y="270deg" data-move-x="-150%" data-rotate-y="180deg" data-move-z="-200px" data-move-x="-300px" data-aos="zoom-in-right" data-aos-delay="280">
        <img id="serv2" src="images/w.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Windows & softwares installation</h2>
        <p id="serv1">Classic Technologies offers expert Windows and software installation services. Our seasoned team ensures seamless setup, configuring systems to optimize performance. From Windows OS installations to essential software setups, we guarantee a smooth transition, empowering clients with reliable computing environments.</p>
      </div>
    </div>

    <div class="column3"><div class="block" data-rotate-y="270deg" data-move-x="150%" data-rotate-x="180deg" data-rotate-y="180deg" data-move-z="-700px" data-aos="zoom-in-left" data-aos-delay="250">
      <img id="serv2" src="images/f.jpg" width="100%" height="200" alt="">
      <h3 id="serv">Phones Flashing & Iphone Set up</h3>
      <p id="serv1">Customer support at Classic Technologies is unparalleled. Our dedicated team is available around the clock to address any inquiries or issues promptly and efficiently. We prioritize client satisfaction, offering personalized assistance to ensure a smooth and satisfying experience to our beloved clients.
      <a href="tel: +211928901760">Get in touch with me <i class="fas fa-angle-right"></i></a>
      </p>
    </div>
    </div>


    </div>


    <div class="row">
      <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="-400px" data-move-y="200px" data-aos="fade-left" data-aos-duration="1200">
        <img id="serv2" src="images/cr.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Computer Repair</h2>
        <p id="serv1">Classic Technologies offers expert Computer Repair services, diagnosing and fixing hardware and software issues efficiently. Our skilled technicians ensure your device is restored to optimal performance, providing reliable solutions to keep your technology running smoothly.</p>
      </div>
    </div>

      <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="500px" data-move-y="200px" data-aos="fade-down" data-aos-duration="1500">
        <img id="serv2" src="images/p140.jfif" width="100%" height="200" alt="">
        <h2 id="serv">UX & UI Design</h2>
        <p id="serv1">Classic Technologies offers comprehensive UX (User Experience) and UI (User Interface) design services. We meticulously craft intuitive interfaces and seamless user experiences, ensuring your digital platforms engage and delight users, driving satisfaction and maximizing interaction efficiency.</p>
      </div>
    </div>

      <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="-100px" data-move-y="200px" data-aos="fade-right" data-aos-duration="1200">
        <img  id="serv2" src="images/24.png" width="100%" height="200" alt="">
        <h2 id="serv">24/7 customer's support</h2>
        <p id="serv1">Customer support at Classic Technologies is unparalleled. Our dedicated team is available around the clock to address any inquiries or issues promptly and efficiently. We prioritize client satisfaction, offering personalized assistance to ensure a smooth and satisfying experience.
        <a href="tel: +211928901760">Get in touch with me <i class="fas fa-angle-right"></i></a>
      </div>
    </div>

    </div>

    <div class="row">
      <div class="column2">
        <div class="block" data-rotate-y="180deg" data-move-z="-200px" data-move-x="-300px" data-aos="fade-left" data-aos-duration="1100">
        <img id="serv2" src="images/g.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Graphics Design</h2>
        <p id="serv1"> Classic Technologies's Graphic Design Team Brings Creativity And Innovation To Life. From Eye-Catching Logos To Stunning Marketing Collateral, We Deliver Captivating Designs That Elevate Your Brand Identity And Leave a Lasting Impression On Your Audience. Our designs are meticulously crafted, ensuring maximum impact.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-x="180deg" data-rotate-y="180deg" data-move-z="-700px" data-aos="fade-right" data-aos-duration="1200">
        <img id="serv2" src="images/p12.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Apps Development</h2>
        <p id="serv1">Classic Technologies offers top-notch app development services, crafting user-friendly, visually appealing mobile applications that cater to diverse business needs. We combine cutting-edge technology, intuitive design, and innovative strategies to create seamless app experiences that engage, captivate, and delight users.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-x="180deg" data-rotate-y="45deg" data-move-z="-500px" data-aos="fade-left" data-aos-duration="1100">
        <img id="serv2" src="images/ip.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Internship Program </h2>
        <p id="serv1">we offer internship program provides aspiring professionals with hands-on experience in the tech industry. Our comprehensive program offers mentorship, training, and real-world projects, empowering interns to develop skills and kick-start their careers in a dynamic and supportive environment.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-y="180deg" data-move-z="-100px" data-move-x="500px" data-rotate-y="180deg" data-move-z="-100px" data-move-x="500px" data-aos="fade-right" data-aos-delay="150">
        <img id="serv2" src="images/p17.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Computer Training</h2>
        <p id="serv1">we offers comprehensive computer training services designed to empower individuals and businesses with essential digital skills. Our tailored programs cover a range of topics, from basic computing to advanced software proficiency, ensuring clients gain the knowledge needed for success in today's digital world.</p>
      </div>
    </div>

    </div>


</section>

<!-- services section ends -->

<%-include("../partials/footer") %>
