<%-include("../partials/header") %>

 <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'> -->

<!-- partial:index.partial.html -->
<h2 style="text-align: center; color: #cd7700; margin-bottom: -45px;">Meet Our Team</h2>

<section>
	<div class="container">
		<div class="row flex-center sm-no-flex">

			<div class="pull-right sm-no-float col-md-8">
				<ul class="team-members">
					<!-- single member row starts -->
					<li class="clearfix">
						<div class="member-details">
							<div>
								<img src="/images/km.png" width="100%" alt="">
								<div class="member-info">
									<h3>Deng Kamich Arok</h3>
									<p>IT Specialist</p>
								</div>
							</div>
						</div>

						<div class="member-details">
							<div>
								<img src="images/a.png" width="100%" alt="">
								<div class="member-info">
									<h3>monywach chol monywach</h3>
									<p>Marketing Director</p>
								</div>
							</div>
						</div>

						<div class="member-details">
							<div>
								<img src="images/dg.png" width="100%" alt="">
								<div class="member-info">
									<h3>deng garang kuir</h3>
									<p>Marketing Manager</p>
								</div>
							</div>
						</div>
					</li><!-- /single member row ends -->

					<!-- single member row starts -->
					<li class="clearfix">
						<div class="member-details">
							<div>
								<img src="images/dp.png" width="100%" alt="">
								<div class="member-info">
									<h3>deng panchol deng</h3>
									<p>Marketing Coordinator</p>
								</div>
							</div>
						</div>

						<div class="member-details">
							<div>
								<img src="images/aj.png" width="100%" alt="">
								<div class="member-info">
									<h3>Ajang machok deng</h3>
									<p>Marketing Advertiser</p>
								</div>
							</div>
						</div>

						<div class="member-details">
							<div>
								<img src="images/d.png" width="100%" alt="">
								<div class="member-info">
									<h3>aleer alier chan</h3>
									<p>UI & Graphic Designer</p>
								</div>
							</div>
						</div>
					</li><!-- /single member row ends -->

					<!-- single member row starts -->
					<li class="clearfix">
						<div class="member-details">
							<div>
								<img src="images/jn.png" width="100%" alt="">
								<div class="member-info">
									<h3>John ngor madit</h3>
									<p>Secretary</p>
								</div>
							</div>
						</div>

						<div class="member-details">
							<div>
								<img src="images/am.png" width="100%" alt="">
								<div class="member-info">
									<h3>amer abot mayen</h3>
									<p>Accountant</p>
								</div>
							</div>
						</div>

						<div class="member-details">
							<div>
								<img src="images/aja.png" width="100%" alt="">
								<div class="member-info">
									<h3>Ajang Chol Ajang</h3>
									<p>Social Media Manager</p>
								</div>
							</div>
						</div>
					</li><!-- /single member row ends -->

				</ul><!-- /end team-photos -->
			</div><!-- /end col-md-8 -->

			<div class="pull-left col-md-4 sm-text-center">
				<div class="team-overview">
					<h2 style="color: #cd7700;">Who Are We?</h2>
					<!-- <a href="#">Meet the Field Team</a> -->
					<p><div>Established In 2019, Classic Technologies Is A Pioneer In ICT Services, Specializing In Website Development, Mobile App Creation, And Graphic Design. Our Expertise Extends To ICT Consultancy And A Plethora Of Other Services Tailored To Meet Your Digital Needs. </div></p>
				</div>
			</div>
		</div>
	</div> 
</section>




<%-include("../partials/footer") %>
