<%-include("../partials/header") %>



<!-- team section starts  -->

<section  id="Teams">

    <div class="heading" data-aos="fade-right" data-aos-delay="150">
        <h1 style="color: #cd7700;">Top Management</h1>
    </div>

    <div class="row1">
      <div class="our-team" data-rotate-y="180deg" data-move-z="-200px" data-move-x="-300px" data-aos="zoom-in-right" data-aos-delay="280">


     <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="images/aw.png" width="100%" alt="">
        </div>
        <div class="flip-card-back">
          <h1>Simon Awan Mabur</h1>
          <p>CEO Founder</p>

        </div>
      </div>
    </div>


      </div>


      <div class="our-team" data-rotate-x="180deg" data-rotate-y="180deg" data-move-z="-700px" data-aos="zoom-in-left" data-aos-delay="250">
     <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="images/abot.png" width="100%" alt="">
        </div>
        <div class="flip-card-back">
          <h1>Abot Mayen Aleer</h1>
          <p>co-founder</p>

        </div>
      </div>
    </div>


      </div>


      <div class="our-team" data-rotate-x="180deg" data-rotate-y="45deg" data-move-z="-500px" data-aos="fade-left" data-aos-delay="150">

   <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="images/gai.png" width="100%" alt="">
        </div>
        <div class="flip-card-back">
          <h1>Gai Emmanuel Jool</h1>
          <p>General manager</p>
        </div>
      </div>
    </div>


      </div>


   <div class="our-team" data-rotate-y="180deg" data-move-z="-100px" data-move-x="500px" data-aos="fade-right" data-aos-delay="150">

     <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="images/ak.png" width="100%" alt="">
        </div>
        <div class="flip-card-back">
          <h1>Akoor Geu Mach</h1>
          <p>finance</p>

        </div>
      </div>
    </div>


    </div>




    </div>


</section>

<!-- team section ends -->



<%-include("../partials/footer") %>
